<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Hola</title>
		<link th:href = "@{/css/style.css}" rel="stylesheet"/>
		<script type="text/javascript" th:src = "@{/js/main.js}"></script>
	</head>
	<body>

		<!--
			Muy Importante: no usar el navegador Brave en desarrollo, 
			por que trae problemas al actualizar los css o contenidos estaticos, 
			o si se usa brave, actualizar con shift F5.
		-->


		<h1>Hola Mundo!</h1>
		<p th:text="'Hello, '+${nombre} + '!'"></p> 
		<button type="button" th:onclick="demo()">Show Alert</button>

		<a href="welcome">link</a>

		<script>
			// alert("Hola JS");
		</script>

	</body>
</html>
