<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href = "@{/css/style.css}" rel="stylesheet"/>
    <title>Alumnos</title>
</head>
<body>
    <ul>
        <li><a href="/main"   >Inicio </a></li>
        <li><a href="/cursos"  >Cursos </a></li>
        <li><a href="/alumnos" >Alumnos</a></li>
        <li>v0.99</li>
    </ul>
</body>
</html>