<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Hola</title>
		<link th:href = "@{/css/style.css}" rel="stylesheet"/>
		<script type="text/javascript" th:src = "@{/js/main.js}"></script>
	</head>
	<body>

		<ul>
            <li><a href="/main"   >Inicio </a></li>
            <li><a href="/cursos"  >Cursos </a></li>
            <li><a href="/alumnos" >Alumnos</a></li>
            <li>v0.99</li>
        </ul>
        <h1>Sistema Educativo</h1>
        <img src="img/portada.jpeg" alt="learning"/>

	</body>
</html>
